.navbar {
  background-color: #2c0e3a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 10%;
  list-style-type: none;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.website-logo {
  width: 200px;
  object-fit: contain;
}

.score-and-timer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 2rem;
}

.score-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 0.5rem;
}

.score-text {
  color: white;
}

.score,
.seconds {
  color: #fec653;
  display: inline;
  font-size: 1.25rem;
}

.timer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer-logo {
  width: 1.25rem;
  margin-right: 0.5rem;
  object-fit: contain;
}
